<h1>ChibiURL: A URL Shortener Microservice</h1>
<p>Pass a valid url into the website's path, and you'll receive a short url that, when put in your address bar, will redirect you to the original url.</p>
<h3>Example Input:</h3>
<p>https://chibi-url.herokuapp.com/https://github.com/stavo343/</p>
<h3>Output Result:</h3>
<p>{"original-url": "https://github.com/stavo343", "short-url": "https://chibi-url.herokuapp.com/0"}</p>
</br>
<p>When typing "https://chibi-url.herokuapp.com/0" into your address bar, you will then be redirected to "https://github.com/stavo343"</p>
